.navbar-white {
	background-color: #fff;
    border-color: #242d3b;
    border-top: none;
    border-bottom: 5px solid #242d3b;
}

/*.navbar-white > .container, .innerContent > .container {
	max-width: 980px;
	padding: 0;
}*/

.navbar-brand {
	padding-top: 0;
}

.navbar {
	min-height: 74px;
}

.marathonHeader {
	background: rgba(0, 0, 0, 0) url(/images/banner.jpg) repeat scroll center top;
    height: 230px;
    left: 0;
    position: absolute;
    top: 74px;
    width: 100%;
    z-index: -1;
}

.innerContent {
	border-top: 79px solid rgba(6,6,6,.5);
    margin: 151px 0 30px 0;
    min-height: 420px;
}

.innerContent .pageTitle {
    font: 32px "Open Sans Bold",sans-serif;
    margin: -63px 0 42px 0;
    color: #fff;
}

@media (max-width: 320px) {
   .innerContent .pageTitle {
      font-size:28px;
   }
}

.panel {
	border: none;
	webkit-box-shadow: none;
 	box-shadow: none; 
}

.panel-body {
	padding-top: 0;
}

.hotel-image {
	position: relative;
}

.hotel-point {
    width: 15%;
    background-color: rgba(0, 53, 128, 0.7);
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    min-height: 60px;
    position: absolute;
    top: 0;
    padding: 20px 0px;
}

.no-padding {
	padding: 0;
}

.bordered {
	border: 1px solid rgba(0,0,0,.05);
	border-top: none;
}

footer .siteMap {
    background: transparent url(/images/siteMapBg.jpg) no-repeat scroll center top;
    width: 100%;
    height: 150px;
    margin: -30px 0 0;
    padding: 50px 0 0;
}